@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #141414;
  line-height: 1.6;
  color: #fff;
}

ul {
  list-style: none;
}

.app-container {
  max-width: 500px;
  margin: 0 auto;
}

.game-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

/** Icons **/
.mi {
  font-size: 1.6rem;
}

/* Use this to make sure screen readers read something sensible when encountering the mi.
 If you are using the icons decoratively, you can omit the <span> */
.u-sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Validated field colors */
.black {
  background-color: #121213;
}

.grey {
  transition: background-color 0.5s linear var(--delay);
  background-color: #535455;
  animation: flip .45s linear;
  animation-delay: var(--delay);
}

.yellow {
  transition: background-color 0.5s linear var(--delay);
  background-color: #b59f3b;
  animation: flip .45s linear;
  animation-delay: var(--delay);
}

.green {
  transition: background-color 0.5s linear var(--delay);
  background-color: #538d4e;
  animation: flip .45s linear;
  animation-delay: var(--delay);
}

/* Animations */

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes happy {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-1vh);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes grow {
  0% {
    font-size: 0px;
  }

  100% {
    font-size: 32px;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }

  16% {
    transform: translateX(-3px);
  }

  33% {
    transform: translateX(6px);
  }

  50% {
    transform: translateX(-6px);
  }

  66% {
    transform: translateX(6px);
  }

  83% {
    transform: translateX(-6px);
  }

  100% {
    transform: translateX(3px);
  }
}
