@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Colors */
:root {
  --light-bg: #f2eee2;
  --on-light: #0084f6;
  --on-light-secondary: #3a3a3a;
  --on-light-terciary: #565656;

  --dark-bg: #141414;
  --on-dark: #fff;
  --on-dark-secondary: #e3e3e3;
  --on-dark-terciary: #999;

  --default-grey: #818384;
  --almost-black: #121213;
  --empty: #00000000;

  --validation-grey: #666;
  --validation-yellow: #b59f3b;
  --validation-green: #538d4e;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: var(--light-bg);
  color: var(--on-light);
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--on-dark);
}

.app-container {
  max-width: 500px;
  margin: 0 auto;
}

.game-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

/** Icons **/
.mi {
  font-size: 1.6rem;
}

/* Use this to make sure screen readers read something sensible when encountering the mi.
 If you are using the icons decoratively, you can omit the <span> */
.u-sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Validated field colors */
.default {
  background-color: var(--default-grey);
}

.empty {
  background-color: var(--empty);
}

.grey {
  transition: background-color 0.5s linear var(--delay);
  background-color: var(--validation-grey);
  animation: flip .45s linear;
  animation-delay: var(--delay);
}

.yellow {
  transition: background-color 0.5s linear var(--delay);
  background-color: var(--validation-yellow);
  animation: flip .45s linear;
  animation-delay: var(--delay);
}

.green {
  transition: background-color 0.5s linear var(--delay);
  background-color: var(--validation-green);
  animation: flip .45s linear;
  animation-delay: var(--delay);
}

.shake {
  animation: shake .4s ease;
}

/* Animations */

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes happy {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-1vh);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes grow {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 32px;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  16% {
    transform: translateX(-3px);
  }
  33% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-6px);
  }
  66% {
    transform: translateX(6px);
  }
  83% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(3px);
  }
}

/* For svelte-mui */
.disabled,
[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.disabled .disabled,
.disabled [disabled],
[disabled] .disabled,
[disabled] [disabled] {
  opacity: 1;
}
